################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/adv_1225_prj/myfirstdbprj.dbmdl
